.cariInactive {
  width: 1047px;
  height: 142px;
  margin: 0;
  padding: 24px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.cariInactive > h1 {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.cariInactive .frameCari {
  position: absolute;
  display: flex;
  width: 999px;
  height: 58px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
}

.cariInactive .frameCari .frameInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 237.75px;
  margin-left: 16px;
}

.cariInactive .frameCari .frameInput:first-child {
  margin: 0;
}

.cariInactive .frameCari .frameInput label {
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin-bottom: 4px;
  color: #8a8a8a;
}

.cariInactive .frameCari .frameInput .inputStyle {
  width: 237.75px;
  height: 36px;
  left: 0px;
  top: 22px;
  background-color: #d0d0d0;
  padding-left: 12px;
  border: 1px solid #d0d0d0;
  box-sizing: border-box;
  border-radius: 2px;
  color: #8a8a8a;
}

.cariInactive .frameCari .frameInput .buttonCari {
  width: 92px;
  height: 36px;
  margin-top: 22px;
  border-radius: 2px;
  border: none;
  background-color: #5cb85f;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}
