/* Cta Banner */
.ctaBanner {
	width: 1168px;
	height: 326px;
	margin: auto;
	margin-top: 100px;
	border-radius: 13px;
	background-color: #0D28A6;
}

.ctaBanner .ctaText {
	text-align: center;
	color: #FFF;
}

.ctaBanner .ctaText h1 {
	padding-top: 64px;
	font-size: 36px;
	line-height: 54px;
	font-weight: 700;
}

.ctaBanner .ctaText p {
	padding-top: 16px;
}

.ctaBanner .btnCta {
	padding: 8px 12px;
	border-radius: 2px;
	background-color: #5CB85F;
	border: none;
	font-weight: 700;
	align-content: center;
	margin-top: 40px;
}
/* End Cta Banner */