/* Faq */
.faq {
	width: 1168px;
	height: 344px;
	margin: auto;
	margin-top: 100px;
	display: flex;
	flex-direction: row;
}

.faq .faqRow:last-child {
	margin-left: 132px;
}

.faq .faqRow:not(:last-child) {
	width: 368px;
}

.faq .faqRow:not(:last-child) p {
	margin-top: 16px;
}

.faq .faqRow .faqUl {
	width: 668px;
}

.faq .faqRow .faqUl .liFaq {
	font-size: 14px;
	padding: 18px 24px;
	margin-bottom: 16px;
	border-radius: 4px;
	border: 1px solid #D4D4D4;
}

.faq .faqRow .faqUl .liFaq:last-child {
	margin-bottom: 0;
}
/* End Faq */