/* Footer */
.footer {
	margin: auto;
	margin-top: 150px;
	margin-bottom: 100px;
	width: 1141px;
	height: 128px;
	display: flex;
	flex-direction: row;
}

.footer .footContent {
	margin-left: 86px;
}

.footer .sosmedList {
	display: inline-flex;
}

.footer .sosmedList img {
	margin-right: 16px;
}

.footer .logo {
	width: 100px;
	height: 34px;
	background-color: #0D28A6;
}
/* End Footer */