html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p, a {
	font-size: 14px;
	line-height: 20px;
}

h1 {
	font-size: 36px;
	line-height: 54px;
	font-weight: 700;
}

h2 {
	font-size: 24px;
	line-height: 36px;
	font-weight: 700;
}

h3 {
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
}
