/* Header */
.header {
	background-color: #F1F3FF;
	width: 100%;
	height: 500px;
}

.header .imgHero {
	width: 662px;
	height: 403px;
}

.header .hero {
	padding-top: 13px;
}

.header .hero h1 {
	font-size: 36px;
	line-height: 54px;
	font-weight: 700;
}

.header .hero p {
	width: 75%;
	font-weight: 300;
	padding-top: 8px;
}

.header .hero .btnHero {
	padding: 8px 12px;
	border-radius: 2px;
	background-color: #5CB85F;
	color: #FFF;
	border: none;
	font-weight: 700;
}

.header nav {
	background-color: #F1F3FF;
}

.header nav .logo {
	width: 100px;
	height: 34px;
	background-color: #0D28A6;
}

.header .paddingNav {
	padding: 1.5rem 0;
}

.header .navbar-nav .nav-item .navLink {
	color: #000;
}
/* End Header */