.invoice {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: auto;
    margin-left: -200px;
    align-items: center;
}

.invoice .imgSuccess {
    width: 48px;
    height: 48px;
    margin-top: 40px;
}

.invoice .textInvoice {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    margin-top: 16px;
    margin-bottom: 0;
}
