/* Our Services */
.ourServices {
	width: 1027px;
	height: 428px;
	margin: auto;
	margin-top: 100px;
}

.ourServices p {
	margin-top: 24px;
}

.ourServices .servicesUl {
	width: 295px;
	height: 184px;
	margin-top: 16px;
}

.ourServices .servicesUl .liServices {
	margin-bottom: 18px;
	padding: 0;
	border: none;
}

.ourServices .servicesUl .liServices span {
	margin-left: 16px;
	font-size: 14px;
}
/* End Our Services */