/* Testimonial */
.testimonial {
	height: 438px;
	margin: auto;
	margin-top: 100px;
}

.testimonial p .mainText {
	margin-top: 16px;
}

.testimonial .testiList {
	width: 100%;
	height: 270px;
	margin-top: 40px;
}

.testimonial .testiList .carousel-inner {
	height: 330px;
}

.testimonial .testiList .testi {
	width: 619px;
	height: 270px;
	background-color: #F1F3FF;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
	border: none;
	border-radius: 8px;
	margin-top: 140px;
	margin-right: 16px;
	margin-left: 16px;
}

.testimonial .testiList .testi .cardContent {
	padding: 69px 32px;
}

.testimonial .testiList .testi .cardContent .imgCar {
	padding-top: 25px;
	padding-left: 25px;
}

.testimonial .testiList .testiButton {
	width: 88px;
    margin-top: -70px;
}

/* End Testimonial */