/* Why Us */
.whyUs {
	width: 1168px;
	height: 308px;
	margin: auto;
	margin-top: 100px;
}

.whyUs p {
	margin-top: 16px;
}

.whyUs .itemList {
	display: flex;
	flex-direction: row;
	margin-top: 40px;
}

.whyUs .itemList .card:not(:last-child) {
	width: 18rem;
	height: 196px;
	margin-right: 32px;
	border-radius: 8px;
}

.whyUs .itemList .card:last-child {
	width: 18rem;
	height: 196px;
	border-radius: 8px;
}

.whyUs .itemList .cBody {
	margin-left: 12px;
}

.whyUs .itemList .h3Card {
	margin-top: 16px;
}

.whyUs .itemList .card-text {
	margin-top: 16px;
}
/* End Why Us */